body {
  margin:0px;
  padding:0px;
}

/*
 * This class is used to place elements in the same vertical strip of the
 * screen as the fixed-width page itself.
*/
.onyx-pageAligned {
  max-width:90vw;
  width:1440px;
  min-width:50vw;

  margin-left:auto;
  margin-right:auto;
}

/*
 * This class is used to style all buttons on the Onyx skin.
*/
.onyx-button {
  height:30px;
  
  padding:10px;

  text-align:center;
  vertical-align:middle;

  cursor:pointer;
}

/*
 * This class is used to style primary buttons in the Onyx skin, which are
 * those that the user is most likely to click on (Edit, etc).
*/
.onyx-button-primary {

}

/*
 * This class is used to style auxiliary buttons in the Onyx skin.
*/
.onyx-button-secondary {
  border:1px solid #444444;

  transition:0.4s;
}

.onyx-button-secondary:hover {
  border:1px solid #AAAAAA;

  transition:0.4s;
}

/*
 * This class is used to style the action buttons in the Onyx skin (Edit, Talk,
 * and Toggle Sidebar).
*/
.onyx-button-action {
  min-width:160px;

  margin:15px;
}

#onyx-banner {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:65px;

  margin:0px;

  background-color:#444444;
}

#onyx-page {
  margin-top:90px;
  margin-bottom:25px;

  background-color:#DDDDDD;
}

#onyx-header-wikiHeader {
  width:100%;
  height:130px;
}

#onyx-header-articleHeader {
  width:100%;
  height:80px;
}

#onyx-articleHeader-actions {
  float:right;
}

#onyx-page-sidebar {
  display:block;
  float:right;
  max-width:30vw;
  width:360px;
  height:100%;
}

#onyx-page-content {
  overflow:hidden;
}

#onyx-footer {
  width:100%;

  margin:0px;

  background-color:#777777;
}

#onyx-floating {
  position:fixed;
  bottom:35px;
  right:10px;
}

#onyx-toolbox {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  height:25px;

  background-color:#444444;
}

#onyx-toolbox-tools {
  margin-left:0px auto;
}

#onyx-tools-list {
  list-style:none;
}

#onyx-tools-list li {
  display:inline;
}

#onyx-tools-list li:not(:first-child):before {
  content: " | ";
}